
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=National+Park:wght@200..800&family=Special+Gothic&family=Special+Gothic+Condensed+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;

}

:root {
    --Cocoa-Bean: rgba(92, 32, 32, 1);
    --Swiss-Coffee: #ded2d2;
    --Hint-of-Red: rgba(248,246,246, 1);
    --Linear-gradient: linear-gradient(to right, rgba(194, 68, 68, 1), rgba(18, 6, 6, 1));
    --White: #ffffff;
}